<!--
  Generated template for the DicasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dicas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon class="toolbar-icon" name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <p style="float: right; color: blue;" (click)="logout()">Sign Out</p> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item *ngIf="fotoPerfil">
    <ion-thumbnail item-start>
      <img src="{{ facebook.fotoUrl }}">
    </ion-thumbnail>
    <h2>{{ facebook.nome }}</h2>
    <p>{{ email }}</p>
  </ion-item>

  <ion-item *ngIf="!fotoPerfil">
    <ion-thumbnail item-start>
      <img src="../assets/imgs/user.png">
    </ion-thumbnail>
    <h2>Nutri Affairs</h2>
    <p>{{ email }}</p>
  </ion-item>

</ion-content>
